body{
    /* background: #000; */
        background-image: linear-gradient(90deg, rgb(228, 97, 119), yellow);
}
h1{
    font-size: 5rem;
    color: rgb(168, 64, 82);
    padding: 5px;
    background-image: url(images/foxsummer.jfif);
    /* background-size: cover; */
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;
}

img{
    border-radius: 30px;
}

@keyframes animate{
to{
    background-position-x: -500px;
}

}

a{
    text-decoration: none;
    padding: 15px;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    margin: 10px;
    display: block;
    width: 400px;
    text-align: center;
}

.space{
    height: 50px;
}
div{
    margin: 0 auto;
}

@media (min-width: 1500px){

    h1{
        font-size: 7rem;
    text-align: center;
    }
    }

@media (max-width: 1000px){
    
    h1{
        font-size: 4rem;
text-align: center;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 30px;
    }

    a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(230, 58, 87);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    margin: 10px;
    display: block;
    width: 300px;
    text-align: center;
}

}

@media (max-width:700px){
   

    h1{
        font-size: 2rem;
    }

    img{
        width: 150px;
        height: 150px;
    }

    a{
        width: 200px;
    }
}
    