body{
    /* background: #000; */
        background-image: linear-gradient(90deg, rgb(228, 97, 119), yellow);
}
h1{
    font-size: 4rem;
    color: rgb(168, 64, 82);
    padding: 5px;
}
a{
    text-decoration: none;
    padding: 10px;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    margin: 10px;
    display: block;
    width: 200px;
    text-align: center;
}

.space{
    height: 50px;
}
div{
    margin: 0 auto;
}